<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>AboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAbout outAboutAboutAboutAboutAboutAboutAboutAb outAboutAboutAboutAboutAboutAboutAboutAb   outAboutAboutAboutAboutAboutAboutAboutAb</p>
    </div>
</div>

