<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Notes App Node js & Mongo DB</h1>
    <p class="lead">test text 1test text2 text test</p>
    <hr class="my-4"> 
    <p>
        abcde fghi jklm nopq rst uvwxyz abcde fghi jklm nopq rst uvwxyz  abcde fghi jklm nopq rst uvwxyz  abcde fghi jklm nopq rst uvwxyz  abcde fghi jklm nopq rst uvwxyz
    </p> 
    <a href="https://google.es" class="btn btn-primary btl-lg">google</a>
</div>