<div class="card mx-auto">
    <div class="content">
        <h1>EXAM </h1>
        <form action="/exams/validate-test" method="POST">
            {{#each questions}}
            <input type="hidden" name="item" value="{{this.id}}">
            <span>{{{this.question}}}</span>
            <hr>
            {{/each}}
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" id="validate">
                    Check answers
                </button>
            </div>
        </form>
    </div>
</div>