<div class="card mx-auto">
    <div class="content" style="padding:20px;">
        <h1>EXAM 1</h1>
        <form action="/exams/validate" method="POST">
            <ul>
                <li>
                    <div class="form-group">
                        <p> 1. To suddenly stop moving or doing something:</p>
                        I <input type="text" name="answer_1"> when I heard the scream.
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>2. To start to behave in a way that is not socially acceptable:</p>
                        This time, you've really <input type="text" name="answer_2">
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>3. It is temporarily not being dealt with or considered, especially because it is not urgent
                            or
                        </p>
                        important
                        We've all had to <input type="text" name="answer_3"> our plans <input type="text"
                            name="answer_4">for a while due to COVID-19
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>4. To be getting better after an illness or injury</p>
                        She's been ill with the flu but she's <input type="text" name="answer_5"> now.
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>5. To begin to succeed</p>
                        Has the city <input type="text" name="answer_6"> any <input type="text" name="answer_7"> in
                        attracting new businesses?.
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>6. Describing or including all the bad qualities in a person's character, with no attempt to
                            hide
                            them</p>
                        He tried to paint the president as he really was, <input type="text" name="answer_8">.
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>7. Said When you recognize that you must accept an offer or a situation because it is the
                            only
                            one
                            available
                            to you.</p>
                        I would have preferred a house of my own rather than sharing, but <input type="text"
                            name="answer_9">, I suppose.
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>8. Immediately</p>
                        You can't expect to be accepted in a new town <input type="text" name="answer_10">, it takes
                        time.
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>9. To be involved in making a decision about something</p>
                        The employees <input type="text" name="answer_11"> in the restructuring of the company.
                    </div>
                </li>
                <hr>
                <li>
                    <div class="form-group">
                        <p>10. To do the same things every day and to not want to change those habits:</p>
                        As people get older, they often <input type="text" name="answer_12">
                    </div>
                </li>
            </ul>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Check answers
                </button>
            </div>
        </form>
    </div>
</div>