<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Exam 1</h5>
                <p class="card-text">Put the idioms you've just learnt to the test</p>
                <a href="/exams/exam1" class="btn btn-primary">Take exam</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Exam 2</h5>
                <p class="card-text">Put the idioms you've just learnt to the test</p>
                <a href="/exams/exam2" class="btn btn-primary">Take exam</a>
            </div>
        </div>
    </div>
</div>