<div class="card mx-auto">
    <div class="content" style="padding:20px;">
        <h1>EXAM</h1>
        <form action="/exams/validate" method="POST">
            <ul>
                <li>
                    <div class="form-group">
                     <p> 1. To suddenly stop moving or doing something:</p>
                    I <input type="text" name="answer"> when I heard the scream ( stopped dead in my tracks)
                    </div>
                </li>
                <hr>
                <li>
                    <p>2. To start to behave in a way that is not socially acceptable:</p>
                    This time, you've really ______________ (crossed the line.)
                </li>
                <hr>
                <li>
                    <p>3. It is temporarily not being dealt with or considered, especially because it is not urgent or
                    </p>
                    important
                    We've all had to ___ our plans ____________ for a while (put sth on the back burner)
                </li>
                <hr>
                <li>
                    <p>4. To be getting better after an illness or injury</p>
                    She's been ill with the flu but she's __________now (on the mend)
                </li>
                <hr>
                <li>
                    <p>5. To begin to succeed</p>
                    Has the city _____ any ______ in attracting new businesses? (made headway / made progess / made
                    strides)
                </li>
                <hr>
                <li>
                    <p>6. Describing or including all the bad qualities in a person's character, with no attempt to hide
                        them</p>
                    He tried to paint the president as he really was, ____________(warts and all)
                </li>
                <hr>
                <li>
                    <p>7. Said When you recognize that you must accept an offer or a situation because it is the only
                        one
                        available
                        to you.</p>
                    I would have preferred a house of my own rather than sharing, but ______________, I suppose.
                    (beggars
                    can't
                    be
                    choosers)
                </li>
                <hr>
                <li>
                    <p>8. Immediately</p>
                    You can't expect to be accepted in a new town __________, it takes time (right off the bat)
                </li>
                <hr>
                <li>
                    <p>9. To be involved in making a decision about something</p>
                    The employees ________ in the restructuring of the company. (had no say)
                </li>
                <hr>
                <li>
                    <p>10. To do the same things every day and to not want to change those habits:</p>
                    As people get older, they often _____________ (become set in their ways)
                </li>
            </ul>
        </form>
    </div>
</div>