<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>New note</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div class="form-group">
                    <input type="text" name="idiom_es" class="form-control" placeholder="Spanish idiom">
                </div>
                <div class="form-group">
                    <textarea name="idiom_en" class="form-control" placeholder="Idiom" autofocus>
                    </textarea>
                </div>
                <div class="form-group">
                    <textarea name="example_en" class="form-control" placeholder="English example">
                    </textarea>
                </div>
                <div class="form-group">
                    <textarea name="example_es" class="form-control" placeholder="Spanish example">
                    </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>